.question--container {
  margin: 5px;
  margin-top: 20vh;
  scroll-margin: 20vh;
  height: 80vh;
  em {
    color: orangered;
    font-size: 1.3rem;
  }
  h2 {
    max-height: 15vh;
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }
  .answers--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45vh;
    justify-content: space-around;
    .answer {
      display: grid;
      place-items: center;
      grid-template-columns: 90% 10%;
      min-height: 3rem;
      background-color: white;
      color: black;
      text-align: center;
      font-size: 1rem;
      border-radius: 5px;
      position: relative;

      transition: all 0.25s;

      .answer-txt {
        pointer-events: none; //this is to prevent the inner div to be clickable
      }
    }
  }
  .last-sect-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .quit {
      height: 50px;
    }
   
  }
  .notAnswered {
    cursor: pointer;
  }
  .notAnswered:hover {
    background-color: #8a7fb5;
  }
  .notAnswered:active {
    background-color: #8a7fb5;
    box-shadow: 0 5px #666;
    transform: scale(1.05);
  }
  .answered {
    svg {
      display: inherit;
    }
  }
  .notAnswered {
    svg {
      display: none;
    }
  }
  .correct {
    background-color: #8a7fb5;
  }

  border: 2px solid black;

  progress {
    opacity: 0;
  }
  .progress-container {
    position: relative;
    display: inline-block;
    background: #eee;
    height: 5px;
    transform: translateY(5px);
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
  }

  .progress-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #8a7fb5;
    animation: timerAnimation 15s linear forwards;
  }
  .time-left {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  @keyframes timerAnimation {
    from {
      width: 0%;
      background-color: #8a7fb5;
    }
    to {
      width: 100%;
      background-color: red;
    }
  }
}
@media (max-width: 430px) {
  .question--container{
    height: 84.5vh;
    margin-top: 10.5vh;
    scroll-margin: 10.5vh;
    .answers--container{
      height: 50vh;
    }
  }
}